:root {
  --light-color: #f3f1f1;
  --outline-color: #000d16;
}

a {
  color: white;
}

main {
  margin: 1em;
  color: var(--light-color);
  font-family: 'Open Sans', sans-serif;
}

.title {
  color:#5ba9ff;
  text-shadow: 5px 5px var(--outline-color);
  letter-spacing: .04em;
  font-family: 'Londrina Solid', cursive;
  font-size: 6em;
  margin: 0; 
  padding: 0;
}
.title-subtitle {
  
}
.title-title {
}

.game {
  display: flex;
}

.left {
  flex: 0;
}

.right {
  flex: 1;
  margin: 0em 1em;
}
h1,h2,h3,h4 {
  margin: 0px;
}
ul {
  padding: 0px;
}

ul li {
  margin-bottom: .4em;
  list-style-type: none;
}

.island-options li {
  padding: 1em 0px;
 /* background-color: var(--light-color); */
  color: var(--outline-color);
}

.island-options a {
  color: #5ba9ff;
  font-weight: bold;
  text-decoration: none;
}

.island-options-link {
  font-size: 1.2em;
}

.island-options-details {
  font-style: italic;
  margin-top: 1em;
}

.map-svg {
  min-width: 600px;
  height: 500px;
  background-color: #5ba9ff;
  border: 1px solid var(--outline-color);
}

.current-island {
  max-width: 80%;
}

.current-island section {
  background: white;
  color: var(--outline-color);
  padding: 1.4em;
}
.current-island a {
  text-decoration: none;
  font-weight: bold;
  color:#5ba9ff;
}

.current-island-header { 
  padding: 1.4em;
  display: flex;
  background: white;

}
.current-island-header h1,h2,h3 {
  font-size: 1.6em;
}

.current-island-illustration {
  flex: 1;
}
.current-island-illustration figure {
  min-width: 320px;
  overflow: hidden;
}
.current-island-illustration img {
  display: block;
  width: 100%;
  margin: 0 -16%;
}

.current-island-info {
  flex: 1;
}

.current-island-options {
  width: 100%;
  padding: 1.4em;
}

.current-island-expeditions {
  padding: 1.4em;
}

.energy-meter {
  font-size: 2em;
}

aside section {
  margin: 2em 0em;
}

.title-subtitle {
  margin-top: 0.4em;
}

.game-meters {
  display: flex;
}

.game-meters section {
  flex: 1;
}