:root {
  --light-color: #f3f1f1;
  --outline-color: #000d16;
}

main {
  margin: 1em;
  color: var(--light-color);
  font-family: 'Open Sans', sans-serif;
}

header { 
  color:#5ba9ff;
  text-shadow: 5px 5px var(--outline-color);
}

.title {
  letter-spacing: .04em;
  font-family: 'Londrina Solid', cursive;
  font-size: 6em;
  margin: 0; 
  padding: 0;
}
.title-subtitle {
  
}
.title-title {
}